---
layout: default
---
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v3.3&appId=1474841429429544&autoLogAppEvents=1"></script>

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    
    Written on {{ page.date | date: "%B %e, %Y" }}
    
  </div>

<div class="fb-comments" data-href="http://cojette.github.io" data-width="" data-numposts="5"></div>
<div id="fb-root"></div>




                             
</article>
